/* Import from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  /* Typescale:
  https://typescale.com/
  */
  --h1: 2.986rem;
  --h2: 2.488rem;
  --h3: 2.074rem;
  --h4: 1.728rem;
  --h5: 1.44rem;
  --h6: 1.2rem;
  --p: 1rem;

  /* Colors:
  https://material-foundation.github.io/material-theme-builder/
  */

  --primary: #012c5b;
  --secondary: #232c3d;
  --tertiary: #232c3d;
  --error: #600004;
  --primary-container: #29497a;
  --secondary-container: #40495b;
  --tertiary-container: #59415f;
  --error-container: #98000a;
  --surface: #f9f9ff;
  --surface-dim: #b7b8bf;
  --on-surface: #000000;
  --outline: #292c33;
  --outline-var: #464951;
  --surf-container-lowest: #ffffff;
  --surf-container-low: #f0f0f7;
  --surf-container: #e2e2e9;
  --surf-container-high: #d3d4db;
  --surf-container-highest: #c5c6cd;

  --lt-green: #acdc5c;
}

/* Box Sizing:
https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Text and Fonts:
https://fonts.google.com/
*/

h1, h2, h3, h4, h5, h6 {
  font-family: "Chivo Mono", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: var(--on-surface);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

p, small, a, li {
  font-family: "Atkinson Hyperlegible Next", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: var(--p);
}

small {
  font-size: 0.833rem;
}

/* Body */

body {
  background-color: var(--surface);
  justify-content: center;
  align-content: center;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Navbar */

.navbar {
  position: relative;
  top: 1em;
  display: flex;
  padding: 1.5em;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.navitems {
  display: flex;
  width: 100%;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: var(--surface);
    font-size: var(--h6);
  }
  a:hover {
    font-weight: bold;
  }
  .links:hover {
    color: var(--lt-green);
  }
}

/* Sections */

section {
  padding: 1.5em 12vw;
  padding-bottom: 4em;
}

section > h1 {
  text-align: center;
}

/* Hero Section */

section.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .hero-content {
    display: grid;
    grid-template-columns: [start] 3fr [middle] 1fr [end];
    grid-template-areas: "text image";
    gap: 2em;
    margin-top: 4em;

    .text {
      h1, h2, p, small {
        color: var(--surface);
      }
      h1 {
        margin: 0 auto;
        font-size: calc(var(--h1) * 1.2);
      }
      h2 {
        font-size: calc(var(--h2) / 1.8);
        margin: 0 auto;
      }
      p {
        font-size: calc(var(--p) * 1.2);
        margin: 0.5em auto;
      }
      small {
        font-size: var(--small);
      }
    }
    .image {
      display: flex;
      justify-content: center;
      align-content: center;
      img {
        border-radius: 50%;
        width: 16em;
        height: 16em;
      }
    }
  }
  background-image: linear-gradient(
    110deg,
    hsl(216deg 50% 32%) 1%,
    hsl(218deg 39% 32%) 24%,
    hsl(219deg 30% 31%) 32%,
    hsl(220deg 22% 31%) 38%,
    hsl(226deg 17% 31%) 45%,
    hsl(243deg 15% 33%) 53%,
    hsl(264deg 17% 32%) 65%,
    hsl(288deg 19% 31%) 100%
  );
}

/* Projects Section */

.card-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 16em;
  height: 16em;
  border-radius: 6px;
  padding: 1.5em;

  z-index: 0;
  background-color: var(--secondary-container);

  h1, small, p {
    color: var(--surface);
    margin: 0 0 0.2em 0;
    z-index: 2;
  }
  h1 {
    font-size: calc(var(--h1) / 2);
  }
  small {
    font-size: calc(var(--small) / 2);
    margin-top: auto;
  }
  p {
    font-size: calc(var(--p) / 1);
    img {
      border-radius: 50%;
      width: 12em;
    }
  }
}

.card:hover {
  cursor: default;
}

/* Background Images using Pseudo-Selectors:
https://www.geeksforgeeks.org/how-to-place-background-image-using-before-pseudo-selectors-in-css/ 
*/

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: 1;
}

.elbi-express::before {
  background-image: url("../resources/images/elbi-express.png");
}
.party-package::before {
  background-image: url("../resources/images/party-package.png");
}
.resto-reco::before {
  background-image: url("../resources/images/resto-reco.png");
}
.flight-manager::before {
  background-image: url("../resources/images/flight-manager.png");
}

/* About Me Section */

section.about-me {
  padding: 1.5em 25vw;
  background-color: var(--surf-container-low);
  margin: 5vw;
  border-radius: 6px;
  ul > li {
    list-style-type: none;
    color: var(--surface);
  }
  h1, h2 {
    margin: 0.2em auto;
  }
}

.card-half {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 16em;
  height: 8em;
  border-radius: 6px;
  padding: 1em;

  z-index: 0;
  background-color: var(--secondary-container);

  h1 {
    color: var(--surface);
    text-align: center;
    font-size: calc(var(--h1) / 2.5);
    z-index: 2;
  }
}

.card-half:hover {
  cursor: default;
}

/* Footer Section */

section.footer {
  background-image: linear-gradient(
    110deg,
    hsl(216deg 50% 32%) 1%,
    hsl(218deg 39% 32%) 24%,
    hsl(219deg 30% 31%) 32%,
    hsl(220deg 22% 31%) 38%,
    hsl(226deg 17% 31%) 45%,
    hsl(243deg 15% 33%) 53%,
    hsl(264deg 17% 32%) 65%,
    hsl(288deg 19% 31%) 100%
  );
  .text > * {
    text-align: center;
    color: var(--surface);
  }
}
